
@{
    ViewData["Title"] = "Arquitectura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-primary">Libros de Arquitectura de Software</h2>

<div class="card mb-4" style="width: 100%;">
    <img src="https://m.media-amazon.com/images/I/51Vkb9vmuIL.jpg" class="card-img-top" style="max-width: 300px;" alt="Clean Architecture">
    <div class="card-body">
        <h5 class="card-title">Clean Architecture</h5>
        <p class="card-text">Autor: Robert C. Martin. Una guía esencial para estructurar sistemas sostenibles y escalables en el tiempo.</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/o_TH-Y78tt4" title="Clean Architecture video" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

