
@{
    ViewData["Title"] = "Diseno";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-primary">Libros de Diseño de Software</h2>

<div class="card mb-4" style="width: 100%;">
    <img src="https://m.media-amazon.com/images/I/41as+WafrFL.jpg" class="card-img-top" style="max-width: 300px;" alt="Design Patterns Book">
    <div class="card-body">
        <h5 class="card-title">Design Patterns: Elements of Reusable Object-Oriented Software</h5>
        <p class="card-text">Autores: Erich Gamma, Richard Helm, Ralph Johnson, John Vlissides. Una obra clave en patrones de diseño reutilizables.</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/N3tRFayqVtk" title="Design Patterns video" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

